body {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;	
	text-align: center;		
}

h2 {
	margin: 20px 0;
	color: #051629;
}

img {
	width: 100%;
	height: auto;
}

.image {	
	margin: 0 auto;
	width: 30vw;
	border: 1px solid black;		
}

